body {
   font-family: $font-primary;
}

p {
   font-size: $font-m;
}

.content {

   &__sub-title {
      font-weight: $font-bold;
      color: $bright-yellow;
   }

   &__paragraph {
      line-height: 1.85em;
      color: $grayish-blue;
   }

   &__price {
      color: $white;
      font-size: $font-xl;
      font-weight: $font-bold;
      display: flex;
      align-items: center;
      margin: 0;

      &-aux {
         opacity: .45;
         font-size: .5em;
         margin-left: .75em;
      }
   }


}



.attribution {
   font-size: $font-s;
   text-align: center;

   & a {
      color: hsl(228, 45%, 44%);
   }
}