* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

ul {
   padding-left: 0;
   list-style: none;
}

a {
   text-decoration: none;
}

h1,
h2 {
   margin-top: 0;
}

img {
   max-width: 100%;
}

button {
   border: none;
}

fieldset {
   border: none;
}